{% extends 'base.html' %}

{% block head %}
    <title>CS 314 Style Checker</title>
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <script>alert("Wrong file type")</script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 id="header1">CS 314 Style Checker</h1>
    <h4>By: Rodrigo O.C. Pereira</h4>

    <p>
    <form action="/handleUpload" method="POST" enctype="multipart/form-data">
        <label for="fileUploaded">Choose file to check</label>
        <input type="file" id="fileUploaded" name="fileUploaded"> 

        <button type="submit">Submit</button>
    </form>
    </p>

{% endblock %}